@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FontPrimary';
  src: url('../../public/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  transition: all 300ms ease;
}

svg{
  color: white;
}

.primary{
  color: #0000;
}

.primaryBack{
  background-color: #0000;
}

.secondary{
  color: #FA041F;
}

.secondaryBack{
  background-color: #FA041F;
}

.tertiaryBack{
  background-color: #07110E;
}

.tertiary{
  color: #07110E;
}


#logo{
  mask-image: linear-gradient(
    black 80%,
    transparent
  );
}